.rotated {
    -ms-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
    transform: rotate(3deg);
  -moz-transform: rotate(3deg);
    transform: rotate(3deg);
 }
 
 img{
  width: 300px;
  margin:10px;
 }